<template>
  <div class="direct-donation"> 
    <h2 class="direct-donation__title">
      Doação por Transferência
    </h2>

    <p class="direct-donation__descripion">
      Caso você não queira realizar doações via cartão de crédito, você pode
      fazer uma transferência diretamente para a nossa conta. Nossos dados são:
    </p>

    <div class="direct-donation__data">
      <p class="direct-donation__data-text">
        121 - Banco Agibank S.A
      </p>
      <p class="direct-donation__data-text">
        Agência: 001
      </p>
      <p class="direct-donation__data-text">
        Conta: 11985068858
      </p>
      <p class="direct-donation__data-text">
        CNPJ: 27.821.506-1
      </p>
    </div>
  </div>
</template>

<style lang="scss">
.direct-donation {
  @include center(column);
}

.direct-donation__title {
  margin: 1rem 0 0.5rem;

  color: $primary-color;
  font-size: 2rem;
}

.direct-donation__description {
  margin: 0.5rem
}

.direct-donation__data {
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: $box-shadow;

  background: $primary-color;
  color: $light-color;
  font-weight: 500;
  text-align: center;
}
</style>
