<template>
  <div class="projects">
    <Banner
      title="Projetos"
      subtitle="Conheça nosso trabalho"
      description="O que já fizemos para promover o desenvolvimento humano e
      sustentável"
      background-image="projects.png"
    />
    <project-list />
  </div>
</template>

<script>
import Banner from '@/components/Banner.vue';
import ProjectList from '@/components/Projects/ProjectList';

export default {
  components: {
    Banner,
    ProjectList,
  },

  beforeMount() {
    window.scrollTo(0,0);
  },
};
</script>

<style lang="scss">

</style>
