<template>
  <div class="coordinator-list-wrapper">
    <h2 class="coordinator-list__title">
      Coordenadores
    </h2>
    <div class="coordinator-list">
      <coordinator
        v-for="id of coordinatorList"
        :key="`coordinator_${id}`"
        :id="id"
      />
    </div>
  </div>
</template>

<script>
import Coordinator from '@/components/projectInfo/Coordinator.vue';

export default {
  components: {
    Coordinator,
  },

  props: {
    coordinatorList: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.coordinator-list-wrapper {
  margin-left: 10vw;
}

.coordinator-list {
  display: flex;
  flex-flow: row nowrap;
}

.coordinator-list__title {
  margin-left: 1rem;

  color: $primary-color;
  font-weight: 500;
}
</style>
